.idea/
.vscode/

env/
venv/
virtualenv/

.DS_Store
Thumbs.db
*.log

*.pyc
*.egg-info
__pycache__
.mypy_cache
.python-version
.tox/*
.envrc
*.sw*
build/
dist/

dbt_modules/
target/
logs/
/dbt_project.yml

.dbt/
keyfile.json
profiles.yml
